<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stellar Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/flag-icon-css/css/flag-icon.min.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/chartist/dist/chartist.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/jvectormap/jquery-jvectormap.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/dropify/dist/css/dropify.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/jquery-file-upload/css/uploadfile.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />

  <!-- functionality -->
  <script type="text/javascript">
    

  </script>

</head>
<body>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper">
          <i class="icon-anchor icons"></i>
        <a class="navbar-brand brand-logo" href="{{url_for('student.dashboard')}}"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="{{url_for('student.dashboard')}}"><img src="{{url_for('static',filename='images/logo_mini.svg')}}" alt="logo"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <p class="page-name d-none d-lg-block">Hi, {{response.student_name}}</p>
        <ul class="navbar-nav ml-lg-auto">

          <li class="nav-item d-none d-sm-block profile-img">
            <a class="nav-link profile-image" href="#">
              <img src="{{url_for('static',filename='images/faces-clipart/pic-2.png')}}" alt="profile-img">
              <span class="online-status online bg-success"></span>
            </a>
          </li>
          <li>
            <button type="button" class="btn btn-inverse-light btn-fw" onclick="signout()">Sign Out</button>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="offcanvas">
          <span class="icon-menu icons"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">GENERAL</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student.dashboard')}}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-speedometer menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student.classmembers')}}">
                <span class="menu-title">Classmates</span>
                <i class="icon-people menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">MY COURSES</span>
            </li>

            {% for course_name in response.course_names %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('student.course', subject_name = course_name[0])}}">
                  <span class="menu-title">{{course_name[0]}}</span>
                  <i class="icon-notebook menu-icon"></i>
                </a>
              </li>            
            {% endfor %}
            </li>
          </ul>
        </nav>  
        <!-- partial -->
        <div class= "content-wrapper">
        <div class="row">
        <div class="col-lg-12">
          <div class = "card">
              <div class="card-body">
              <h1 class="display-4">{{response.current_course}}</h1>
              </div>
          </div>
           
        </div>
          
        </div>
        <div class = "row"> 
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs tab-basic" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Course Information</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="submission-tab" data-toggle="tab" href="#submission" role="tab" aria-controls="submission" aria-selected="false">My Submissions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">My Team</a>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <img class="card-img-top" src="{{url_for('static',filename='images/samples/1280x768/3.jpg')}}" height = 300 alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title mb-0">About this Course </h4>
                    
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-inline-block pt-3">
                            <div class="d-flex">
                              
                            </div>
                            <p >{{response.course_info}}</p>
                          </div>
          
                        </div>
                      </div>
                    </div> 
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                          <h4 class="card-title d-block h4 mb-0">Resources </h4>
                      
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                              <div class="d-flex">
                                <div class="d-flex align-items-center ml-2">
                                  <i class="mdi mdi-clock text-muted"></i>
                                  <small class=" ml-1 mb-0">Updated: 9:10am</small>
                                </div>
                              </div>
                              <div class="col-12 results">
                                  <div class="pt-4 border-bottom">
                                    <span class="d-block h4 mb-0" href="#">Resource Title</span>
                                    <a class="page-url text-primary" href="#">resource url</a>
                                    <p class="page-description mt-1 w-75 text-muted">Resource description</p>
                                  </div>
                                </div>
                                <div class="col-12 results">
                                    <div class="pt-4 border-bottom">
                                      <span class="d-block h4 mb-0" href="#">Resource Title</span>
                                      <a class="page-url text-primary" href="#">resource url</a>
                                      <p class="page-description mt-1 w-75 text-muted">Resource description</p>
                                    </div>
                                  </div>
                                  <div class="col-12 results">
                                      <div class="pt-4 border-bottom">
                                        <span class="d-block h4 mb-0" href="#">Resource Title</span>
                                        <a class="page-url text-primary" href="#">resource url</a>
                                        <p class="page-description mt-1 w-75 text-muted">Resource description</p>
                                      </div>
                                    </div>
                                    
                            </div>
            
                          </div>
                        </div>
                      </div> 
                      </div>
                      <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                          <h4 class="card-title d-block h4 mb-0">Deliverables</h4>
                      
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                              <div class="d-flex">
                                <div class="d-flex align-items-center ml-2">
                                  <i class="mdi mdi-clock text-muted"></i>
                                  <small class=" ml-1 mb-0">Updated: 9:10am</small>
                                </div>
                              </div>
                              <div class="col-12 results">
                                  <div class="pt-4 border-bottom">
                                    <span class="d-block h4 mb-0" href="#">Deliverable title</span>
                                    <a class="page-url text-primary" href="#">Deiverable url</a>
                                    <p class="page-description mt-1 w-75 text-muted">Description</p>
                                  </div>
                                </div>
                                <div class="col-12 results">
                                  <div class="pt-4 border-bottom">
                                    <span class="d-block h4 mb-0" href="#">Deliverable title</span>
                                    <a class="page-url text-primary" href="#">Deiverable url</a>
                                    <p class="page-description mt-1 w-75 text-muted">Description</p>
                                  </div>
                                </div>
                                <div class="col-12 results">
                                  <div class="pt-4 border-bottom">
                                    <span class="d-block h4 mb-0" href="#">Deliverable title</span>
                                    <a class="page-url text-primary" href="#">Deiverable url</a>
                                    <p class="page-description mt-1 w-75 text-muted">Description</p>
                                  </div>
                                </div>
          
                                    
                            </div>
            
                          </div>
                        </div>
                      </div> 
                      </div>
                        
                      </div>
            </div>
            <div class="tab-pane fade" id="submission" role="tabpanel" aria-labelledby="submission-tab">
              <div class = "row">
                <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title d-block h4 mb-0">Deliverables Submissions</h4>
                      </div>
              
                  </div>

                  
                </div>
              </div>
              <div class = "row">
                  <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Deliverable 1</h4>
                        </div>
                        <table class="table table-hover">
                  
                              <tr>
                                <td>Submission Status</td>
                                <td>Photoshop</td>
                              
                              </tr>
                              <tr>
                                <td>Grading Status</td>
                                <td>Flash</td>
                                
                              </tr>
                              <tr>
                                <td>Due Date</td>
                                <td>Premier</td>
                                
                              </tr>
                              <tr>
                                <td>Time Left</td>
                                <td>After effects</td>
                               
                              </tr>
                              <tr>
                                <td>Last Modified</td>
                                <td>53275535</td>
                               
                              </tr>

                            
                          </table>
                          <input type="file" class="dropify" />
                          <button type="button" class="btn btn-success btn-fw">Save Changes</button>
                          <button type="button" class="btn btn-secondary btn-fw">Cancel</button>
                
                    </div>
                    
                    
                  </div>
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title  mb-0">Deliverable 2 </h4>
                          </div>
                          <table class="table table-hover">
                  
                              <tr>
                                <td>Submission Status</td>
                                <td>Photoshop</td>
                              
                              </tr>
                              <tr>
                                <td>Grading Status</td>
                                <td>Flash</td>
                                
                              </tr>
                              <tr>
                                <td>Due Date</td>
                                <td>Premier</td>
                                
                              </tr>
                              <tr>
                                <td>Time Left</td>
                                <td>After effects</td>
                               
                              </tr>
                              <tr>
                                <td>Last Modified</td>
                                <td>53275535</td>
                               
                              </tr>

                            
                          </table>
                          <input type="file" class="dropify" />
                          <button type="button" class="btn btn-success btn-fw">Save Changes</button>
                          <button type="button" class="btn btn-secondary btn-fw">Cancel</button>
                  
                      </div>
                      
                      
                    </div>
                </div>
                <div class = "row">
                    <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title mb-0">Deliverable 3</h4>
                          </div>
                          <table class="table table-hover">
                  
                              <tr>
                                <td>Submission Status</td>
                                <td>Photoshop</td>
                              
                              </tr>
                              <tr>
                                <td>Grading Status</td>
                                <td>Flash</td>
                                
                              </tr>
                              <tr>
                                <td>Due Date</td>
                                <td>Premier</td>
                                
                              </tr>
                              <tr>
                                <td>Time Left</td>
                                <td>After effects</td>
                               
                              </tr>
                              <tr>
                                <td>Last Modified</td>
                                <td>53275535</td>
                               
                              </tr>

                            
                          </table>
                          <input type="file" class="dropify" />
                          <button type="button" class="btn btn-success btn-fw">Save Changes</button>
                          <button type="button" class="btn btn-secondary btn-fw">Cancel</button>
                  
                      </div>
                      
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Deliverable 4</h4>
                            </div>
                            <table class="table table-hover">
                  
                                <tr>
                                  <td>Submission Status</td>
                                  <td>Photoshop</td>
                                
                                </tr>
                                <tr>
                                  <td>Grading Status</td>
                                  <td>Flash</td>
                                  
                                </tr>
                                <tr>
                                  <td>Due Date</td>
                                  <td>Premier</td>
                                  
                                </tr>
                                <tr>
                                  <td>Time Left</td>
                                  <td>After effects</td>
                                 
                                </tr>
                                <tr>
                                  <td>Last Modified</td>
                                  <td>53275535</td>
                                 
                                </tr>
  
                              
                            </table>
                            <input type="file" class="dropify" />
                            <button type="button" class="btn btn-success btn-fw">Save Changes</button>
                            <button type="button" class="btn btn-secondary btn-fw">Cancel</button>
                    
                        </div>

                        
                        
                      </div>
                  </div>
                  <div class="row"><p>&nbsp;</p></div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
               
                                <h4 class="mb-0 ">Feedback from the teacher</h4>
                             
                            
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row"><p>&nbsp;</p></div>
                  <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                              <div class="card-title">
    
                                        <h4>FeedBack title</h4>
  
                                  
                                  
                                </div> 
  
                                 
                                    Feedback
                              
                          </div>
                          
                        </div>
                      </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class = "row">
                  <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title d-block h4 mb-0">My Team</h4>
                            <div class="row"><p>&nbsp;</p></div>
                            <div class = "row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <form class="forms-sample">
                                        <div class="form-group">
                                          <input type="text" class="form-control" placeholder="GitHub Repository">
                                        </div>
                                        <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Repository owner GitHub Id">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success form-group btn-rounded btn-fw float-sm-right">Save Details</button>
                                        </div>
                                        
                                      </form>

                                </div>
                                <div class="col-lg-3"></div>

                          </div>
                          <div class="row"><p>&nbsp;</p></div>
                            <div class = "row">
                                <div class="col-lg-4">
              
                                          <div class="row">
                                              <div class="col-lg-3"><img src="{{url_for('static',filename='images/faces-clipart/pic-2.png')}}" alt="image"/></div>
                                              <div class="col-lg-9"> <h4>Member 1</h4></div>
                                              
                                               
              
                                        </div>
                                 
                            </div>
                            <div class="col-lg-4">
              
                                    <div class="row">
                                        <div class="col-lg-3"><img src="{{url_for('static',filename='images/faces-clipart/pic-1.png')}}" alt="image"/></div>
                                        <div class="col-lg-9"> <h4>Member 2</h4></div>
                                        
                                         
                                    </div>
                                      
              
                               
                          </div>
                          <div class="col-lg-4">
              
                                      <div class="row">
                                          <div class="col-lg-3"><img src="{{url_for('static',filename='images/faces-clipart/pic-3.png')}}" alt="image"/></div>
                                          <div class="col-lg-9"> <h4>Member 3  </h4></div>
                                          
              
                                    </div>
                             
                        </div>

                            </div>
                            
                        </div>
                
                    </div>
  
                    
                  </div>
                </div>
                <div class="row"><p>&nbsp;</p></div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title">
                            <h4>Chat with Team</h4>
                          </div>
                          <div class="row">
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe width="100%" height = "100%" src="https://localhost:8000"> </iframe>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </div>
                </div>
  
        </div>


         </div>  
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{url_for('static',filename='node_modules/flot/jquery.flot.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/flot/jquery.flot.resize.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/flot.curvedlines/curvedLines.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/dropify/dist/js/dropify.min.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/misc.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/dropify.js')}}"></script>
  <!-- End custom js for this page-->
</body>

</html>
