  <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stellar Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/flag-icon-css/css/flag-icon.min.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/chartist/dist/chartist.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/jvectormap/jquery-jvectormap.css')}}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />

  <!-- functionality -->
  <script type="text/javascript">
    

  </script>

</head>
<body>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper">
          <i class="icon-anchor icons"></i>
        <a class="navbar-brand brand-logo" href="{{url_for('student.dashboard')}}"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="{{url_for('student.dashboard')}}"><img src="{{url_for('static',filename='images/logo_mini.svg')}}" alt="logo"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <p class="page-name d-none d-lg-block">Hi, {{response.student_name}}</p>
        <ul class="navbar-nav ml-lg-auto">


          <li class="nav-item d-none d-sm-block profile-img">
            <a class="nav-link profile-image" href="#">
              <img src="{{url_for('static',filename='images/faces-clipart/pic-2.png')}}" alt="profile-img">
              <span class="online-status online bg-success"></span>
            </a>
          </li>
          <li>
            <button type="button" class="btn btn-inverse-light btn-fw" onclick="signout()">Sign Out</button>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">GENERAL</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student.dashboard')}}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-speedometer menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student.classmembers', subject_name = response.course_names[0].course_name)}}">
                <span class="menu-title">Classmates</span>
                <i class="icon-people menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">MY COURSES</span>
            </li>
            {% for course_name in response.course_names %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('student.course', subject_name = course_name[0])}}">
                  <span class="menu-title">{{course_name[0]}}</span>
                  <i class="icon-notebook menu-icon"></i>
                </a>
              </li>            
            {% endfor %}
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">MISCELLANEOUS</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student.classmembers', subject_name = response.course_names[0].course_name)}}">
                <span class="menu-title">Practice Viva Questions</span>
                <i class=" icon-magic-wand menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>  
        <!-- partial -->
        <div class="content-wrapper">


          <!-- ROW ENDS -->
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card performance-cards">
                <div class="card-body">
                    <h4 class="card-title">Lab Marks</h4>
                  <div class="row">
                   
                      <div class="col d-flex flex-row justify-content-center align-items-center">
                        <div class="wrapper icon-circle bg-success">
                          <i class="icon-chart icons"></i>
                        </div>
                        <div class="wrapper text-wrapper">
                          <p class="text-dark">{{response.lab_marks[response.course_names[0].course_name]}}</p>
                          <p>{{response.course_names[0].course_name}}</p>
                        </div>
                      </div>
                  
                    <div class="col d-flex flex-row justify-content-center align-items-center">
                      <div class="wrapper icon-circle bg-danger">
                        <i class="icon-chart icons"></i>
                      </div>
                      <div class="wrapper text-wrapper">
                        <p class="text-dark">{{response.lab_marks[response.course_names[1].course_name]}}</p>
                        <p>{{response.course_names[1].course_name}}</p>
                      </div>
                    </div> 

                    <div class="col d-flex flex-row justify-content-center align-items-center">
                      <div class="wrapper icon-circle bg-warning">
                        <i class="icon-chart icons"></i>
                      </div>
                      <div class="wrapper text-wrapper">
                        <p class="text-dark">{{response.lab_marks[response.course_names[2].course_name]}}</p>
                        <p>{{response.course_names[2].course_name}}</p>
                      </div>
                    </div> 

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin">
                <div class="card performance-cards">
                  <div class="card-body">
                      <h4 class="card-title">Project Progress</h4>
                    <div class="row">
                      <div class="col d-flex flex-row justify-content-center align-items-center">
                        <div class="wrapper icon-circle bg-success">
                          <i class="icon-rocket icons"></i>
                        </div>
                        <div class="wrapper text-wrapper">
                          <p class="text-dark">10%</p>
                          <p>Subject 1</p>
                        </div>
                      </div>
                      <div class="col d-flex flex-row justify-content-center align-items-center">
                        <div class="wrapper icon-circle bg-danger">
                          <i class="icon-rocket icons"></i>
                        </div>
                        <div class="wrapper text-wrapper">
                          <p class="text-dark">30%</p>
                          <p>Subject 2</p>
                        </div>
                      </div> 
  
                      <div class="col d-flex flex-row justify-content-center align-items-center">
                        <div class="wrapper icon-circle bg-warning">
                          <i class="icon-rocket icons"></i>
                        </div>
                        <div class="wrapper text-wrapper">
                          <p class="text-dark">60%</p>
                          <p>Subject 3</p>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- ROW ENDS -->
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card overflow-hidden">
                <div class="card-body mx-3">
                  <h2 class="card-title border-bottom-none">Upcoming Events</h2>
                  <div class="align-items-center mb-5 justify-content-between d-lg-flex d-xl-flex d-md-block d-block">
                    <div id="chartLegend"></div>
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=eii5e04qnhnqlm6vrids6hrftc%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Asia%2FCalcutta" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
               
            </div>
          </div>
          </div>
          
          
          <!-- ROW ENDS -->

         
                  
          <!-- ROW ENDS -->
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{url_for('static',filename='node_modules/flot/jquery.flot.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/flot/jquery.flot.resize.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/flot.curvedlines/curvedLines.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/misc.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <!-- End custom js for this page-->
</body>

</html>
