  <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stellar Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/flag-icon-css/css/flag-icon.min.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/chartist/dist/chartist.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/jvectormap/jquery-jvectormap.css')}}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />

  <!-- functionality -->
  <script type="text/javascript">
    

  </script>

</head>
<body style = "background-color:#eff3f9">

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper">
          <i class="icon-anchor icons"></i>
        <a class="navbar-brand brand-logo" href=""><img src="" ></a>
        
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        {% if current_user.is_authenticated %}
          <p class="page-name d-none d-lg-block">Hi, {{ current_user.username}}</p>
          <ul class="navbar-nav ml-lg-auto">


            <li class="nav-item d-none d-sm-block profile-img">
              <a class="nav-link profile-image" href="#">
                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="profile-img">
                <span class="online-status online bg-success"></span>
              </a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            </li>
            <li class="navbar-menu-wrapper d-flex align-items-center">
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-lg-auto">
            <li>
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
          </ul>
          {% endif %}
      </div>
    </nav>

    <ul class="nav nav-tabs">
    <li class="content-section "><a href="#tab1" data-toggle="tab" onclick="document.getElementById('form1').style.display = 'block'; document.getElementById('form2').style.display = 'none'; document.getElementById('form3').style.display = 'none';">Enter Content</a></li>
    <li class="content-section "><a href="#tab2" data-toggle="tab" onclick="document.getElementById('form2').style.display = 'block'; document.getElementById('form1').style.display = 'none'; document.getElementById('form3').style.display = 'none';" >Upload PDF</a></li>
    <li class="content-section "><a href="#tab3" data-toggle="tab"  onclick="document.getElementById('form3').style.display = 'block'; document.getElementById('form2').style.display = 'none'; document.getElementById('form1').style.display = 'none';" >Upload Txt</a></li>
</ul>

<div class="content-section">
    <form method="POST" action="upload_inputted_txt" id="form1">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <form method="POST" action="upload_pdf" id="form2" enctype="multipart/form-data" onsubmit = "submitForm(document.getElementById('form2'))">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <input name = 'type_of_upload' type = "text" hidden></input>
            <div class="form-group">
                <div class="content-section ">
                            Upload PDF
                            <input type="file" name='file'/>
                        </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <form method="POST" action="upload_txt" id="form3" enctype="multipart/form-data" onsubmit = "submitForm(document.getElementById('form3'))">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <input name = 'type_of_upload' type = "text" hidden></input>
            <div class="form-group">
                <div class="content-section ">
                            Upload Txt
                            <input type="file" name='file'/>
                        </div>
            </div>
            
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<script type="text/javascript">
    document.getElementById('form1').style.display = 'none'; 
    document.getElementById('form2').style.display = 'block'; 
    document.getElementById('form3').style.display = 'none';
    function submitForm(form){
        var form = document.getElementById(form)
        var urlEncodedDataPairs = []
        var urlEncodedData = ""

        for(name in data){
            urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
        }

        urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

        var xhr = new XMLHttpRequest()
        xhr.open("POST", "/post/new/form")
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(urlEncodedData)
        return true
    }
</script>