  <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stellar Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/flag-icon-css/css/flag-icon.min.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/chartist/dist/chartist.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/jvectormap/jquery-jvectormap.css')}}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />

  <!-- functionality -->
  <script type="text/javascript">
    

  </script>

</head>
<body style = "background-color:#eff3f9" >

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 static-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper">
          <i class="icon-anchor icons"></i>
        <a class="navbar-brand brand-logo" href=""><img src="" ></a>
        
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        {% if current_user.is_authenticated %}
          <p class="page-name d-none d-lg-block">Hi, {{ current_user.username}}</p>
          <ul class="navbar-nav ml-lg-auto">


            <li class="nav-item d-none d-sm-block profile-img">
              <a class="nav-link profile-image" href="#">
                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="profile-img">
                <span class="online-status online bg-success"></span>
              </a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            </li>
            <li class="navbar-menu-wrapper d-flex align-items-center">
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-lg-auto">
            <li>
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
          </ul>
          {% endif %}
      </div>
    </nav>

  





  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_questions', post_id=post.id) }}">Add Questions</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('answer_question', post_id=post.id) }}">Get Answers from Bot</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }} </p>
      <p class="article-content">
        {% for q in post.questions %}
                            <span>{{ q.questions }}</span>
                        {% endfor %} </p>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
