<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript">
      function Suggest() 
      {
        othis = this;
        
        this.xhr = new XMLHttpRequest(); // object to make the AJAX call

        this.search = null;
        this.div = null;
        this.timer = null;
        
        this.getTitle = function()
        {
          if(this.timer)
          {
            clearTimeout(this.timer);
          }

          this.timer = setTimeout(this.fetchTitle, 1000);
        }
        
        this.fetchTitle = function()
        {

          othis.search = document.getElementById("search-term");
          othis.div = document.getElementById("container");
          if(othis.search.value == "")
          {
            //There is nothing to do
            othis.div.innerHTML = "";
            othis.div.style.display = "none";
            return;
          }

          else
          {
            othis.xhr.onreadystatechange = othis.populateTitle;
            othis.xhr.open("POST", "/intermediate_search", true);
            othis.xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
            console.log("here")
            othis.xhr.send("string="+othis.search.value);

          }
        }
        
        this.populateTitle = function()
        {
          if(this.readyState == 4 && this.status == 200)
          {
            titles = JSON.parse(this.responseText);
            
            //Maybe there were no suggestions.
            if(titles.length == 0)
            {
              othis.search.className = "notfound";
              othis.div.style.display = "none";
            }
            else//there are some suggestions
            {
              othis.search.className = "found";

              localStorage[this.responseURL] = this.responseText;
              
              othis.fillTitle(titles);
            }
          }
        }
        
        this.fillTitle = function(titles)
        {
          othis.div.innerHTML = "";
          for(i=0;i<titles.length;i++)
          {
            newdiv = document.createElement("div");
            newdiv.innerHTML = titles[i];
            newdiv.className = "suggest";
            othis.div.appendChild(newdiv);
            newdiv.onclick = othis.setTitle;
          }
          othis.div.style.display = "block";
        }

        this.setTitle = function(event)
        {
          othis.search.value = event.target.innerHTML;
          othis.div.innerHTML = "";
          othis.div.style.display = "none";
        }
      }

      obj = new Suggest();
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>QA System - {{ title }}</title>
    {% else %}
        <title>QA System</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">QA System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search" action="/search_results" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search topic" name="search-term" id="search-term" onkeyup="obj.getTitle()">
            <button class="btn btn-default" type="submit">Search<i class="glyphicon glyphicon-search"></i></button>

        </div>
        <tr>
          <td></td>
          <td><div id="container"></div></td>
        </tr>
        </form>
        </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Topic</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Topics</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>