
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stellar Admin</title>
  <!-- plugins:css -->
 
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/flag-icon-css/css/flag-icon.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/perfect-scrollbar/css/perfect-scrollbar.css')}}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/dragula/dist/dragula.min.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='node_modules/sweetalert2/dist/sweetalert2.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/font-awesome/css/font-awesome.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='node_modules/quill/dist/quill.snow.css')}}">
  
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.png')}}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper">
          <i class="icon-anchor icons"></i>
        <a class="navbar-brand brand-logo" href="{{url_for('admin.dashboard')}}"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="{{url_for('admin.dashboard')}}"><img src="{{url_for('static',filename='images/logo_mini.svg')}}" alt="logo"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        
      
 
        <p class="page-name d-none d-lg-block">Hi, Admin</p>
        <ul class="navbar-nav ml-lg-auto">


          <li class="nav-item d-none d-sm-block profile-img">
            <a class="nav-link profile-image" href="#">
              <img src="{{url_for('static',filename='images/faces-clipart/pic-1.png')}}" alt="profile-img">
              <span class="online-status online bg-success"></span>
            </a>
          </li>
          <li>
            <button type="button" class="btn btn-inverse-light btn-fw" onclick="signout()">Sign Out</button>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="offcanvas">
          <span class="icon-menu icons"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <ul class="nav">
                <li class="nav-item nav-category">
                  <span class="nav-link">MANAGE</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin.students')}}">
                    <span class="menu-title">Students</span>
                    <i class="icon-people menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin.teachers')}}">
                    <span class="menu-title">Teachers</span>
                    <i class="icon-people menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin.courses')}}">
                    <span class="menu-title">Courses</span>
                    <i class="icon-notebook menu-icon"></i>
                  </a>
                </li>

    

                </li>
              </ul>
            </nav>  
        <!-- partial -->
        <div class="content-wrapper">
        <div class = "row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class = "mb-0 h4 ">Admin controls</h4>
              </div>
            </div>
          </div>
        </div> 
        <div class="row"><p>&nbsp;</p></div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Number of Students in each semester</h4>
                    <canvas id="barChart" style="height:50px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin">
                  <div class="card performance-cards">
                    <div class="card-body">
                        <h4 class="card-title">Stats</h4>
                      <div class="row">
                        <div class="col d-flex flex-row justify-content-center align-items-center">
                          <div class="wrapper icon-circle bg-success">
                            <i class="icon-people icons"></i>
                          </div>
                          <div class="wrapper text-wrapper">
                            <p class="text-dark">{{response.student_count}}</p>
                            <p>Students</p>
                          </div>
                        </div>
                        <div class="col d-flex flex-row justify-content-center align-items-center">
                          <div class="wrapper icon-circle bg-danger">
                            <i class="icon-people icons"></i>
                          </div>
                          <div class="wrapper text-wrapper">
                            <p class="text-dark">{{response.teacher_count}}</p>
                            <p>Teachers</p>
                          </div>
                        </div> 
    
                        <div class="col d-flex flex-row justify-content-center align-items-center">
                          <div class="wrapper icon-circle bg-warning">
                            <i class="icon-notebook icons"></i>
                          </div>
                          <div class="wrapper text-wrapper">
                            <p class="text-dark">{{response.course_count}}</p>
                            <p>Courses</p>
                          </div>
                        </div>
    
                      </div>
                    </div>
                  </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Send Notifications</h4>
                                  <div id="quillExample1" class="quill-container">
                                  </div>
                                  <form class="forms-sample">
                                  <div class="col-md-6">
                                  
                                      <div class="form-group">
                                        <div class="form-check form-check-flat">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value ="student">
                                            Students 
                                          </label>
                                        </div>
                                        <div class="form-check form-check-flat">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value = "teacher">
                                            Teachers
                                          </label>
                                        </div>

                                      </div>
                                    </div>
                                
                                </div>
                                <button type="submit" class="btn btn-success form-group btn-rounded btn-fw">Send Notification</button>
                              </form>
                              </div>
                      </div>
		
                    </div>
                  </div>

                </div>
		<!--Mapping begins-->
		<div class="row">
                          <div class="col-lg-12">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Assign Teachers to Courses</h4>
			<div class="row">
<div class="col-md-4">
	<h4 class="card-title">Teachers</h4>					
<select name="Teacher" size="5"  style="width:200px;">
  {% for teacher in response.teacher_names %}
    <option value="{{teacher}}">{{teacher}}</option>
  {% endfor %}
  </select> 

</div>
<div class="col-md-4">
	<h4 class="card-title">Courses</h4>
	 <select name="Subject" size="5"  style="width:200px;">
      {% for course in response.course_names %}
        <option value="{{course}}">{{course}}</option>
      {% endfor %}
</select> 
</div>
<div class="col-md-4">
	<h4 class="card-title">Sections</h4>
	 <select name="Section" size="5" style="width:200px;">
    {% for section in response.sections %}
      <option value="{{section}}">{{section}}</option>
    {% endfor %}
    </select> 
</div>
				</div>
	</br>
	<button type="submit" class="btn btn-success form-group btn-rounded btn-fw">Add Mapping</button>
			
			</div>
			</div>
		</div>
		<!--Mapping ends-->
        </div>  


        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
          
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{url_for('static',filename='node_modules/chart.js/dist/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='node_modules/quill/dist/quill.min.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/misc.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/alerts.js')}}"></script>
  <script src="{{url_for('static',filename='js/chart.js')}}"></script>
  <script src="{{url_for('static',filename='js/editorDemo.js')}}"></script>
 
  <!-- End custom js for this page-->
  <script>
    function signout(){
     swal({
           title: 'Sign out?',
           icon: 'warning',
           showCancelButton: true,
           confirmButtonColor: '#3f51b5',
           cancelButtonColor: '#ff4081',
           cancelButtontext: 'Cancel',
           buttons: {
             cancel: {
               text: "Cancel",
               value: null,
               visible: true,
               className: "btn btn-danger",
               closeModal: true,
             },
             confirm: {
               text: "OK",
               value: true,
               visible: true,
               className: "btn btn-primary",
               closeModal: true
               
             }
       }
     }
     )
    }
 
  </script>
</body>

</html>



